<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Github.BlogEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Github.BlogEngine.Properties.Settings>
            <setting name="GitUserName" serializeAs="String">
                <value>alexanderbeletsky</value>
            </setting>
            <setting name="GitRepositoryBranch" serializeAs="String">
                <value>master</value>
            </setting>
            <setting name="TreeSha" serializeAs="String">
                <value>74d474ba69c0ee98229342b34ce9ac48a58869bc</value>
            </setting>
            <setting name="GitUserRepository" serializeAs="String">
                <value>blog.kyivbeerncode.org</value>
            </setting>
        </Github.BlogEngine.Properties.Settings>
    </applicationSettings>
</configuration>