@{
    ViewBag.Title = "Blog";
}
@using PagedList;
@using PagedList.Mvc;
<h1>Blog</h1>
<div style="float: right; width: 80%">
    @Html.Partial("PostList", (PagedList<Github.BlogEngine.Models.Post>)Model)

    <div style="display: inline">
    @Html.PagedListPager((PagedList<Github.BlogEngine.Models.Post>)Model, page => Url.Action("Posts", new { page }),
    new PagedListRenderOptions
        {
            LinkToFirstPageFormat = "<< Перша",
            LinkToPreviousPageFormat = "< Попередня",
            LinkToNextPageFormat = "Наступна >",
            LinkToLastPageFormat = "Остання >>"
        })
    </div>

</div>
