@using PagedList

@model PagedList<Github.BlogEngine.Models.Post>

@foreach (var post in Model)
{
    <article>
        <div class="blog-title">
            <a href="@Url.Action("Post","Blog",new {sha = post.Sha})">@post.Title</a> 
        </div>
        <div class="blog-body">
            @Html.Raw(post.Body)
        </div>
    </article>
}
