@using Github.BlogEngine.Models
@using Microsoft.Web.Helpers
@model Post

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container_12">
    <div class="grid_12">
        <article class="blogpost">
            <h1>
                @Model.Title
            </h1>
            <section>
                @Html.Raw(Model.Body)
            </section>
        </article>
    </div>
</div>