@{
    ViewBag.Title = "Kyiv Beer && Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.Web.Helpers;

<div class="container_12">
<section>
    <div id="logo" class="grid_12">
        <span class="big"><span class="quote">{</span> Пиво && Код && .NET <span class="quote">}</span></span>
    </div>
</section>
<section>
    <article class="grid_4 alpha">
        <h1>Що це?</h1>
        <p>
        Це зустрічі програмістів, що відбуваються раз на 2 тижні в Києві. Немає критеріїв щодо мови програмування або технологій. Головний критерій - це любов до двох речей: кодування та пива.
        </p>
    </article>
    <article class="grid_4">
        <h1>Навіщо мені це?</h1>
        <p>
        Якщо ви зацікавлена людина, прагнете високих цілей у розробці. Або ви давно маєте ідею для реалізації. Чи просто бажаєте поспілкуватись з колегами про актуальні для вас питання.
        </p>
    </article>
    <article class="grid_4 omega">
        <h1>Як приєднатися?</h1>
        <p>
        Анонси зустрічей ви легко знайдете в нашому каналі в <a href="http://twitter.com/#!/kyivbeerncode">твіттері</a>, та в групі на <a href="http://facebook.com">фейсбуці</a>. Якщо у вас виникають будь-які питання щодо зустрічей, чи пропозиції, пишіть на цю <a href="mailto:alexander.beletsky@gmail.com">адресу</a>.
        </p>
    </article>
</section>

<div class="social grid_12">
    <div>
        @Twitter.TweetButton(dataCount: "none", relatedUsername: "kyivbeerncode")
    </div>
    <div>
        @Facebook.LikeButton(showFaces: false, width: 200, height: 30, colorScheme: "dark")
    </div>
</div>
</div>