<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="alexanderbeletsky"/>
    <add key="repository" value="blog.beletsky.net"/>
    <add key="tree_sha" value="74d474ba69c0ee98229342b34ce9ac48a58869bc"/>
    <add key="branch" value="master"/>
    
  </appSettings>
</configuration>